# Eclipse
bin/
.settings/
.metadata/
*.tmp

# File specifici di Eclipse
.classpath
.project

# VSCode (se vuoi mantenere)
.vscode/
.yscode/

# Ignora i file .class generati
*.class
bin/
target/
build/