# File specifici di Eclipse
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders/

# File di progetto 
.project
.classpath

# File di sistema
Thumbs.db
.DS_Store
/progetto_my_life/bin
